<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julisarrelli.mcdonaldstest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mcdonalds"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListedForms"
            android:label="Listado de Formularios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListedLocals" />
        <activity android:name=".Login" />
        <activity android:name=".SingUp" />
        <activity
            android:name=".EditLocals"
            android:label="@string/title_activity_edit_locals"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT.ACTIVTY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NewLocal" />
        <activity
            android:name=".EditForms"
            android:label="@string/title_activity_edit_forms"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>